openapi: 3.0.0
info:
  title: Global Human Services
  version: "1.5.7"
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://api.hslynk.com/hmis-globalapi/rest'
paths:
  '/search/{searchentity}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "searchResults"
                    ],
                    "properties": {
                      "searchResults": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "items"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object",
                                "required": [
                                  "field",
                                  "order"
                                ],
                                "properties": {
                                  "field": {
                                    "type": "string",
                                  },
                                  "order": {
                                    "type": "string",
                                  }
                                }
                              }
                            }
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "clientId",
                                "dedupClientId",
                                "firstName",
                                "middleName",
                                "lastName",
                                "nameSuffix",
                                "nameDataQuality",
                                "ssn",
                                "ssnDataQuality",
                                "dob",
                                "dobDataQuality",
                                "race",
                                "ethnicity",
                                "gender",
                                "phoneNumber",
                                "emailAddress",
                                "link",
                                "projectGroupCode",
                                "links"
                              ],
                              "properties": {
                                "clientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "dedupClientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "nameSuffix": {
                                  "type": "string",
                                },
                                "nameDataQuality": {
                                  "type": "integer"
                                },
                                "ssn": {
                                  "type": "string",
                                },
                                "ssnDataQuality": {
                                  "type": "integer"
                                },
                                "dob": {
                                  "type": "integer"
                                },
                                "dobDataQuality": {
                                  "type": "integer"
                                },
                                "race": {
                                  "type": "integer"
                                },
                                "ethnicity": {
                                  "type": "integer"
                                },
                                "gender": {
                                  "type": "integer"
                                },
                                "phoneNumber": {
                                  "type": "integer"
                                },
                                "emailAddress": {
                                  "type": "string",
                                },
                                "link": {
                                  "type": "string"
                                },
                                "projectGroupCode": {
                                  "type": "string",
                                },
                                "links": {
                                  "type": "object",
                                  "required": [
                                    "eligibleClients",
                                    "survey.submissions",
                                    "enrollments"
                                  ],
                                  "properties": {
                                    "eligibleClients": {
                                      "type": "object",
                                      "required": [
                                        "data"
                                      ],
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "required": [
                                              "rel",
                                              "href"
                                            ],
                                            "properties": {
                                              "rel": {
                                                "type": "string",
                                                "format": "uuid",
                                              },
                                              "href": {
                                                "type": "string",
                                                "format": "uuid",
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "survey.submissions": {
                                      "type": "object",
                                      "required": [
                                        "data"
                                      ],
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "required": [
                                              "rel",
                                              "href"
                                            ],
                                            "properties": {
                                              "rel": {
                                                "type": "string",
                                                "format": "uuid",
                                              },
                                              "href": {
                                                "type": "string",
                                                "format": "uuid",
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "enrollments": {
                                      "type": "object",
                                      "required": [
                                        "data"
                                      ],
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "required": [
                                              "rel",
                                              "href"
                                            ],
                                            "properties": {
                                              "rel": {
                                                "type": "string",
                                                "format": "uuid",
                                              },
                                              "href": {
                                                "type": "string",
                                                "format": "uuid",
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "globalHouseHolds": {
                                      "type": "object",
                                      "required": [
                                        "data"
                                      ],
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "required": [
                                              "rel",
                                              "href"
                                            ],
                                            "properties": {
                                              "rel": {
                                                "type": "string",
                                                "format": "uuid",
                                              },
                                              "href": {
                                                "type": "string",
                                                "format": "uuid",
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    searchResults:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 50
                        sort:
                          field: id
                          order: asc
                      items:
                      - clientId: 0f23d93e-23c3-435e-baec-ec267f13f66c
                        dedupClientId: ad9a9390-bcd7-11e9-a57b-02fe61f7863e
                        firstName: Ryan_1565597013222
                        middleName: ''
                        lastName: Peterson_1565597013222
                        nameSuffix: NS
                        nameDataQuality: 1
                        ssn: 123-45-6789
                        ssnDataQuality: 1
                        dob: 340009200000
                        dobDataQuality: 1
                        race: 1
                        ethnicity: 1
                        gender: 0
                        phoneNumber: 123456779
                        emailAddress: test@test.com
                        link: "/hmis-clientapi/rest/v2017/clients/0f23d93e-23c3-435e-baec-ec267f13f66c"
                        projectGroupCode: PG0001
                        links:
                          eligibleClients:
                            data:
                            - rel: 0f23d93e-23c3-435e-baec-ec267f13f66c
                              href: https://api.hslynk.com/house-matching-api/rest/eligibleclients/0f23d93e-23c3-435e-baec-ec267f13f66c
                          survey.submissions:
                            data:
                            - rel: 528faca1-ccb6-436a-bd97-8cd6e00c5105
                              href: https://api.hslynk.com/survey-api/rest/clients/0f23d93e-23c3-435e-baec-ec267f13f66c/surveys/5d3f239c-fdf5-4806-80ec-54886fb58e2b/submissions/528faca1-ccb6-436a-bd97-8cd6e00c5105
                          enrollments:
                            data:
                            - rel: d9845282-afd5-43e8-8935-1ae186a04dea
                              href: https://api.hslynk.com/hmis-clientapi-v2017/rest/clients/0f23d93e-23c3-435e-baec-ec267f13f66c/enrollments/d9845282-afd5-43e8-8935-1ae186a04dea
                          globalHouseHolds:
                               data:
                               - rel: ad19a8b1-337e-4b1b-bd3d-d69681862200
                                 href: https://api.hslynk.com/hmis-globalapi/rest/globalhouseholds/ad19a8b1-337e-4b1b-bd3d-d69681862200                               

        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >
        The Search API is optimized to find the specific entity you're looking
        for (e.g., a client, enrollments, etc.).  It's designed to  find the one
        result you're looking for (or maybe the few results you're looking for).
        Currently hmislynk supporting search on 'clients' entity only. Just like
        searching on Google, you sometimes want to see a few pages of search
        results so that you can find the item that best meets your needs.
        HMISLynk Search API provides up to 50 results for each search. 
            API for client search returns the following in the response.  \
            \
            * Latest (by effective date) FN, MI, LN, email, phone [email and phone will come from the generic client record], SSN, DOB, SSN, gender, veteran status.If any of these have not been collected, those elements will be simply omitted. \
            * Links to enrollments for all HMIS enrollment records if there is anything to retrieve. Otherwise this link is not present.\
            * Links to all client survey submissions,if there is anything to retrieve. Otherwise this link is not present\
            * Links to all eligible client records (active list) for the client ,if there is anything to retrieve. Otherwise this link is not present \
            * Links to all global holds records for the client ,if there is anything to retrieve. Otherwise this link is not present \            
            \
                 For the client search, the value for the request parameter "q" can be first name , last name , middle name, date of birth ,source system Id or SSN\
                 \
                  Here are different examples to perform a search using the API.  \
                  \
                  Search for clients with first name "Jim"  \
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=123-45-6789 \
                  \
                  Search for a client with SSN "123-45-6789"  \
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=123-45-6789  \
                  \
                  Search for a client with client Id "c06ff484-42bb-4946-82f7-0d4118013cd6" \
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=c06ff484-42bb-4946-82f7-0d4118013cd6 \
                  \
                  Search for a client with  dedup Id "c06ff484-42bb-4946-82f7-0d4118013cd6"  \
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=bda3179b-c49f-449d-95b9-1ca014ae0345 \
                  \
                  Search for clients with first name or last name or full name "Jim"   \
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=Jim  \
                  \
                  Search for clients with with date of birth (allowed DOB format MM-dd-YYYY)\
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=05-28-1980 \
                  \
                  Optionally, the results can be sorted by passing "sort" and "order" paramters for the search request. \
                  To search for clients with search string "Jim" sorder by Last name in descending order you can use the following \
                  https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=Jim&sort=lastName
                  \
                  \
                  Sorting is allowed on the following parameters. The value for the "sort" field should match one of the following. By default results are sorted by first name.
                   "firstName", \
                   "lastName", \
                   "middleName", \
                   "sourceSystemId", \
                   "ssn" \
                   \
                  The maximum results that can be obtained in a search API call is 50. "startIndex" and "maxItems" can be passed to the search request to limit the number of rows. These parameters are used for pagination purposes. 
                  
              
      operationId: GET_search-searchentity
      parameters:
        - name: q
          in: query
          required: true
          description: >
            The search keywords for clients, as well as any qualifiers.Currently
            supported search fields are first name,middle name,last
            name,dob,source system id and ssn. For search on "date of birth"
            field the format MM-dd-YYYY should be used for the search keyword.

          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: The sort field.Supported sort values are firstName,lastName,middleName,sourceSystemId,ssn.  Default- results are sorted by "firstName".
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: >-
            The sort order if sort parameter is provided. One of asc or desc.
            Default- asc.
          schema:
            default: desc
            type: string
        - name: startIndex
          in: query
          required: false
          description: >-
            The start Index from where the search results should be returned.
            Default - 0
          schema:
            default: 0
            type: integer
        - name: maxItems
          in: query
          required: false
          description: >-
            the number or Items that should be included in the results . Default
            - 50
          schema:
            default: 50
            type: integer
        - name: exclude
          in: query
          required: false
          description: >
            Excludes flieds from the search.Currently it suppoted value is "ssi"
            (to exclude source system id) only.
          schema:
            type: string
    parameters:
      - name: searchentity
        in: path
        required: true
        schema:
          type: string
  /globalprojects:
    post:
      description: Create a global project
      operationId: POST_global-projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
                type: object
                properties:
                  globalProject:
                    type: object
                    properties:
                      projectName:
                        type: string
                      projectCommonName:
                        type: string
                      description:
                        type: string
                      projects:
                        type: object
                        properties:
                          projects:
                            type: array
                            items:
                              type: object
                              properties:
                                projectId:
                                  type: string
                                  format: uuid
                                source:
                                  type: string

            example: 
                globalProject:
                  projectName: Project Name
                  projectCommonName: Project common name
                  description: " description"
                  projects:
                    projects:
                    - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                      source: '2015'
                    - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                      source: '2014'
      responses:
        '200':
          description: Success
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProject"
                    ],
                    "properties": {
                      "globalProject": {
                        "type": "object",
                        "required": [
                          "id",
                          "projectName",
                          "projectCommonName",
                          "description",
                          "sourceSystemId",
                          "projects"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectName": {
                            "type": "string",
                          },
                          "projectCommonName": {
                            "type": "string",
                          },
                          "description": {
                            "type": "string",
                          },
                          "sourceSystemId": {
                            "type": "string",
                          },
                          "projects": {
                            "type": "object",
                            "required": [
                              "projects"
                            ],
                            "properties": {
                              "projects": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "projectId",
                                    "source"
                                  ],
                                  "properties": {
                                    "projectId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProject:
                    id: 661189b2-183f-4d03-aba0-7d3050b62a5f
                    projectName: Project Name
                    projectCommonName: Project common name
                    description: description
                    sourceSystemId: source123
                    projects:
                      projects:
                        - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                          source: 2015
                        - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                          source: 2014
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProjects"
                    ],
                    "properties": {
                      "globalProjects": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "globalProjects"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "globalProjects": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "projectName",
                                "projectCommonName",
                                "description",
                                "sourceSystemId",
                                "projects"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "projectName": {
                                  "type": "string",
                                },
                                "projectCommonName": {
                                  "type": "string",
                                },
                                "description": {
                                  "type": "string",
                                },
                                "sourceSystemId": {
                                  "type": "string",
                                },
                                "projects": {
                                  "type": "object",
                                  "required": [
                                    "projects"
                                  ],
                                  "properties": {
                                    "projects": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "required": [
                                          "projectId",
                                          "source",
                                          "link"
                                        ],
                                        "properties": {
                                          "projectId": {
                                            "type": "string",
                                            "format": "uuid",
                                          },
                                          "source": {
                                            "type": "string",
                                          },
                                          "link": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProjects:
                    pagination:
                      from: 0
                      returned: 2
                      total: 2
                      maximum: 30
                      sort: {}
                    globalProjects:
                      - id: 38d97c40-ef8f-465a-9ede-d8933385c0ed
                        projectName: name
                        projectCommonName: common name
                        description: description
                        sourceSystemId: source123
                        projects:
                          projects:
                            - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                              source: '2015'
                              link: >-
                                /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                            - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                            - projectId: 9d278142-978d-461e-8aea-07d629e462e8
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9d278142-978d-461e-8aea-07d629e462e8
                      - id: d0242f55-c019-41c2-8f0c-6dadbb38c875
                        projectName: Project Name
                        projectCommonName: Project common name
                        description: ' description'
                        sourceSystemId: source124
                        projects:
                          projects:
                            - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                              source: '2015'
                              link: >-
                                /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                            - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
      description: Get all global projects
      operationId: GET_global-projects
  '/globalprojects/{globalprojectid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProject"
                    ],
                    "properties": {
                      "globalProject": {
                        "type": "object",
                        "required": [
                          "projectId",
                          "projectName",
                          "projectCommonName",
                          "description"
                        ],
                        "properties": {
                          "projectId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectName": {
                            "type": "string",
                          },
                          "projectCommonName": {
                            "type": "string",
                          },
                          "description": {
                            "type": "string",
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProject:
                    projectId: 3d65a9bc-af57-4e3e-bc4d-29d661767ac9
                    projectName: Sample Project Name
                    projectCommonName: Sample Project Common Name
                    description: Sample Project description
      description: Update selected global project
      operationId: PUT_global-projects-globalprojectid
      requestBody:
        content:
          application/json:
            schema:
              {
                "type": "object",
                "required": [
                  "globalProject"
                ],
                "properties": {
                  "globalProject": {
                    "type": "object",
                    "required": [
                      "projectName",
                      "projectCommonName",
                      "description"
                    ],
                    "properties": {
                      "projectName": {
                        "type": "string",
                      },
                      "projectCommonName": {
                        "type": "string",
                      },
                      "description": {
                        "type": "string",
                      }
                    }
                  }
                }
              }
            example:
              globalProject:
                projectName: Sample Project Name
                projectCommonName: Sample Project Common Name
                description: Sample Project description
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProject"
                    ],
                    "properties": {
                      "globalProject": {
                        "type": "object",
                        "required": [
                          "id",
                          "projectName",
                          "projectCommonName",
                          "description",
                          "projects"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectName": {
                            "type": "string",
                          },
                          "projectCommonName": {
                            "type": "string",
                          },
                          "description": {
                            "type": "string",
                          },
                          "projects": {
                            "type": "object",
                            "required": [
                              "projects"
                            ],
                            "properties": {
                              "projects": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "projectId",
                                    "source",
                                    "link"
                                  ],
                                  "properties": {
                                    "projectId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "string",
                                    },
                                    "link": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProject:
                    id: d0242f55-c019-41c2-8f0c-6dadbb38c875
                    projectName: Project Name
                    projectCommonName: Project common name
                    description: ' description'
                    projects:
                      projects:
                        - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                          source: '2015'
                          link: >-
                            /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                        - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                          source: '2014'
                          link: >-
                            /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
      description: Get selected global project
      operationId: GET_global-projects-globalprojectid
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
  '/globalprojects/{globalprojectid}/projects':
    put:
      responses:
        '200':
          description: ''
      description: Add projects to selected global project
      operationId: PUT_global-projects-globalprojectid-projects
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "projects"
                  ],
                  "properties": {
                    "projects": {
                      "type": "object",
                      "required": [
                        "projects"
                      ],
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "projectId",
                              "source"
                            ],
                            "properties": {
                              "projectId": {
                                "type": "string",
                                "format": "uuid",
                              },
                              "source": {
                                "type": "integer",
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              example:
                projects:
                  projects:
                  -  projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                     source: 2015
                  -  projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                     source: '2014'
        required: true
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
  '/globalprojects/{globalprojectid}/projects/{projectid}':
    delete:
      responses:
        '200':
          description: ''
      description: Remove project from selected global project
      operationId: DELETE_global-projects-globalprojectid-projects-projectId
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
      - name: projectid
        in: path
        required: true
        schema:
          type: string
  '/globalprojects/{globalprojectid}/users':
    put:
      responses:
        default:
          description: ''
      description: Add users to a global project
      operationId: PUT_global-projects-$globalProjectId-users
      requestBody:
        content:
          application/json:
            example:
              users:
                users:
                  - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                  - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                  - userId: 183548a8-4f0e-4b3d-a114-c1e3043cf49d
            schema:
              {
                "type": "object",
                "required": [
                  "users"
                ],
                "properties": {
                  "users": {
                    "type": "object",
                    "required": [
                      "users"
                    ],
                    "properties": {
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "userId"
                          ],
                          "properties": {
                            "userId": {
                              "type": "string",
                              "format": "uuid",
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "users"
                    ],
                    "properties": {
                      "users": {
                        "type": "object",
                        "required": [
                          "users"
                        ],
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "userId",
                                "username",
                                "emailAddress",
                                "firstName",
                                "middleName",
                                "lastName",
                                "gender",
                                "status",
                                "link"
                              ],
                              "properties": {
                                "userId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "username": {
                                  "type": "string",
                                },
                                "emailAddress": {
                                  "type": "string",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "gender": {
                                  "type": "integer"
                                },
                                "status": {
                                  "type": "string",
                                },
                                "link": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  users:
                    users:
                      - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                        username: developeradmin@hmis.com
                        emailAddress: hmisprojects@gmail.com
                        firstName: Developer Admin
                        middleName: Developer Admin
                        lastName: Developer Admin
                        gender: 0
                        status: ACTIVE
                        link: >-
                          /hmis-user-service/rest/accounts/8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                      - userId: 183548a8-4f0e-4b3d-a114-c1e3043cf49d
                        username: tes11tq@te42223s.com
                        emailAddress: test@test.com
                        firstName: First NameTest
                        middleName: Middle name
                        lastName: Last Name
                        gender: 0
                        status: ACTIVE
                        link: >-
                          /hmis-user-service/rest/accounts/183548a8-4f0e-4b3d-a114-c1e3043cf49d
      description: Retrive a global project users
      operationId: GET_global-projects-$globalProjectId-users
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
  '/globalprojects/{globalprojectid}/users/{userid}':
    delete:
      responses:
        default:
          description: ''
      description: Remove users from a global project
      operationId: DELETE_global-projects-$globalProjectId-users-userId
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
      - name: userid
        in: path
        required: true
        schema:
          type: string
  /global-projects:
    post:
      deprecated: true
      description: Create a global project
      operationId: POST_dep_global-projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                globalProject:
                  type: object
                  properties:
                    id:
                      type: string
                    projectName:
                      type: string
                    projectCommonName:
                      type: string
                    description:
                      type: string
                    sourceSystemId:
                      type: string
                  required:
                    - id
                    - projectName
                    - projectCommonName
                    - description
                    - sourceSystemId
              required:
                - globalProject
      responses:
        '200':
          description: Success
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProject"
                    ],
                    "properties": {
                      "globalProject": {
                        "type": "object",
                        "required": [
                          "id",
                          "projectName",
                          "projectCommonName",
                          "description",
                          "sourceSystemId",
                          "projects"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectName": {
                            "type": "string",
                          },
                          "projectCommonName": {
                            "type": "string",
                          },
                          "description": {
                            "type": "string",
                          },
                          "sourceSystemId": {
                            "type": "string",
                          },
                          "projects": {
                            "type": "object",
                            "required": [
                              "projects"
                            ],
                            "properties": {
                              "projects": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "projectId",
                                    "source"
                                  ],
                                  "properties": {
                                    "projectId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProject:
                    id: 661189b2-183f-4d03-aba0-7d3050b62a5f
                    projectName: Project Name
                    projectCommonName: Project common name
                    description: description
                    sourceSystemId: source123
                    projects:
                      projects:
                        - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                          source: 2015
                        - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                          source: 2014
    get:
      deprecated: true
      responses:
        '200':
          description: Success
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProjects"
                    ],
                    "properties": {
                      "globalProjects": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "globalProjects"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "globalProjects": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "projectName",
                                "projectCommonName",
                                "description",
                                "sourceSystemId",
                                "projects"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "projectName": {
                                  "type": "string",
                                },
                                "projectCommonName": {
                                  "type": "string",
                                },
                                "description": {
                                  "type": "string",
                                },
                                "sourceSystemId": {
                                  "type": "string",
                                },
                                "projects": {
                                  "type": "object",
                                  "required": [
                                    "projects"
                                  ],
                                  "properties": {
                                    "projects": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "required": [
                                          "projectId",
                                          "source",
                                          "link"
                                        ],
                                        "properties": {
                                          "projectId": {
                                            "type": "string",
                                            "format": "uuid",
                                          },
                                          "source": {
                                            "type": "string",
                                          },
                                          "link": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProjects:
                    pagination:
                      from: 0
                      returned: 2
                      total: 2
                      maximum: 30
                      sort: {}
                    globalProjects:
                      - id: 38d97c40-ef8f-465a-9ede-d8933385c0ed
                        projectName: name
                        projectCommonName: common name
                        description: description
                        sourceSystemId: source123
                        projects:
                          projects:
                            - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                              source: '2015'
                              link: >-
                                /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                            - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                            - projectId: 9d278142-978d-461e-8aea-07d629e462e8
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9d278142-978d-461e-8aea-07d629e462e8
                      - id: d0242f55-c019-41c2-8f0c-6dadbb38c875
                        projectName: Project Name
                        projectCommonName: Project common name
                        description: ' description'
                        sourceSystemId: source124
                        projects:
                          projects:
                            - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                              source: '2015'
                              link: >-
                                /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                            - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
      description: Get all global projects
      operationId: GET_dep_global-projects
  '/global-projects/{globalprojectid}':
    put:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProject"
                    ],
                    "properties": {
                      "globalProject": {
                        "type": "object",
                        "required": [
                          "projectId",
                          "projectName",
                          "projectCommonName",
                          "description"
                        ],
                        "properties": {
                          "projectId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectName": {
                            "type": "string",
                          },
                          "projectCommonName": {
                            "type": "string",
                          },
                          "description": {
                            "type": "string",
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProject:
                    projectId: 3d65a9bc-af57-4e3e-bc4d-29d661767ac9
                    projectName: Sample Project Name
                    projectCommonName: Sample Project Common Name
                    description: Sample Project description
      description: Update selected global project
      operationId: PUT_dep_global-projects-globalprojectid
      requestBody:
        content:
          application/json:
            schema:
              {
                "type": "object",
                "required": [
                  "globalProject"
                ],
                "properties": {
                  "globalProject": {
                    "type": "object",
                    "required": [
                      "projectName",
                      "projectCommonName",
                      "description"
                    ],
                    "properties": {
                      "projectName": {
                        "type": "string",
                      },
                      "projectCommonName": {
                        "type": "string",
                      },
                      "description": {
                        "type": "string",
                      }
                    }
                  }
                }
              }
            example:
              globalProject:
                projectName: Sample Project Name
                projectCommonName: Sample Project Common Name
                description: Sample Project description
        required: true
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalProject"
                    ],
                    "properties": {
                      "globalProject": {
                        "type": "object",
                        "required": [
                          "id",
                          "projectName",
                          "projectCommonName",
                          "description",
                          "projects"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectName": {
                            "type": "string",
                          },
                          "projectCommonName": {
                            "type": "string",
                          },
                          "description": {
                            "type": "string",
                          },
                          "projects": {
                            "type": "object",
                            "required": [
                              "projects"
                            ],
                            "properties": {
                              "projects": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "projectId",
                                    "source",
                                    "link"
                                  ],
                                  "properties": {
                                    "projectId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "string",
                                    },
                                    "link": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalProject:
                    id: d0242f55-c019-41c2-8f0c-6dadbb38c875
                    projectName: Project Name
                    projectCommonName: Project common name
                    description: ' description'
                    projects:
                      projects:
                        - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                          source: '2015'
                          link: >-
                            /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                        - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                          source: '2014'
                          link: >-
                            /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
      description: Get selected global project
      operationId: GET_dep_global-projects-globalprojectid
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
  '/global-projects/{globalprojectid}/projects':
    put:
      deprecated: true
      responses:
        '200':
          description: ''
      description: Add projects to selected global project
      operationId: PUT_dep_global-projects-globalprojectid-projects
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "projects"
                  ],
                  "properties": {
                    "projects": {
                      "type": "object",
                      "required": [
                        "projects"
                      ],
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "projectId",
                              "source"
                            ],
                            "properties": {
                              "projectId": {
                                "type": "string",
                                "format": "uuid",
                              },
                              "source": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              example:
                projects:
                  projects:
                  -  projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                     source: 2015
                  -  projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                     source: '2014'
        required: true
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
  '/global-projects/{globalprojectid}/projects/{projectid}':
    delete:
      deprecated: true
      responses:
        '200':
          description: ''
      description: Remove project from selected global project
      operationId: DELETE_dep_global-projects-globalprojectid-projects-projectId
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
      - name: projectid
        in: path
        required: true
        schema:
          type: string
  '/global-projects/{globalprojectid}/users':
    put:
      deprecated: true
      responses:
        default:
          description: ''
      description: Add users to a global project
      operationId: PUT_dep_global-projects-$globalProjectId-users
      requestBody:
        content:
          application/json:
            example:
              users:
                users:
                  - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                  - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                  - userId: 183548a8-4f0e-4b3d-a114-c1e3043cf49d
            schema:
              {
                "type": "object",
                "required": [
                  "users"
                ],
                "properties": {
                  "users": {
                    "type": "object",
                    "required": [
                      "users"
                    ],
                    "properties": {
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "userId"
                          ],
                          "properties": {
                            "userId": {
                              "type": "string",
                              "format": "uuid",
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
        required: true
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "users"
                    ],
                    "properties": {
                      "users": {
                        "type": "object",
                        "required": [
                          "users"
                        ],
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "userId",
                                "username",
                                "emailAddress",
                                "firstName",
                                "middleName",
                                "lastName",
                                "gender",
                                "status",
                                "link"
                              ],
                              "properties": {
                                "userId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "username": {
                                  "type": "string",
                                },
                                "emailAddress": {
                                  "type": "string",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "gender": {
                                  "type": "integer"
                                },
                                "status": {
                                  "type": "string",
                                },
                                "link": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  users:
                    users:
                      - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                        username: developeradmin@hmis.com
                        emailAddress: hmisprojects@gmail.com
                        firstName: Developer Admin
                        middleName: Developer Admin
                        lastName: Developer Admin
                        gender: 0
                        status: ACTIVE
                        link: >-
                          /hmis-user-service/rest/accounts/8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                      - userId: 183548a8-4f0e-4b3d-a114-c1e3043cf49d
                        username: tes11tq@te42223s.com
                        emailAddress: test@test.com
                        firstName: First NameTest
                        middleName: Middle name
                        lastName: Last Name
                        gender: 0
                        status: ACTIVE
                        link: >-
                          /hmis-user-service/rest/accounts/183548a8-4f0e-4b3d-a114-c1e3043cf49d
      description: Retrive a global project users
      operationId: GET_dep_global-projects-$globalProjectId-users
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
  '/global-projects/{globalprojectid}/users/{userid}':
    delete:
      deprecated: true
      responses:
        default:
          description: ''
      description: Remove users from a global project
      operationId: DELETE_dep_global-projects-$globalProjectId-users-userId
    parameters:
      - name: globalprojectid
        in: path
        required: true
        schema:
          type: string
      - name: userid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientdedupid}/globalenrollments':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalEnrollment"
                    ],
                    "properties": {
                      "globalEnrollment": {
                        "type": "object",
                        "required": [
                          "id",
                          "dedupClientId",
                          "enrollments"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "dedupClientId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "enrollments": {
                            "type": "object",
                            "required": [
                              "enrollments"
                            ],
                            "properties": {
                              "enrollments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "enrollmentId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "clientId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "string",
                                    },
                                    "link": {
                                      "type": "string"
                                    },
                                    "genericEnrollmentId":{
                                      "type": "string",
                                      "format": "uuid"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalEnrollment:
                    id: bcd68553-08a0-4463-8713-3619f1022fc1
                    dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                    enrollments:
                      enrollments:
                        - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                          clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                          source: '2016'
                          link: >-
                            hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                        - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                          clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                          source: '2015'
                          link: >-
                            hmis-clientapi/v2015/rest/clients/d4a9b184-21ea-4136-b9b8-0d59e8ee7b71/enrollments/d12a5b43-9411-4fe3-8cd3-0778459d0085
                        - genericEnrollmentId: 9ac8cba4-d9a0-43c3-ae3f-3b2633a91626    
      description: Create a global enrollment for a client
      operationId: POST_clients-clientDedupId-global-enrollments
      requestBody:
        content:
          application/json:
            example:
              globalEnrollment:
                enrollments:
                  enrollments:
                    - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                      source: '2016'
                      clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                    - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                      source: '2015'
                      clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                    - genericEnrollmentId: 9ac8cba4-d9a0-43c3-ae3f-3b2633a91626  
            schema:
              {
                "type": "object",
                "required": [
                  "enrollments"
                ],
                "properties": {
                  "enrollments": {
                    "type": "object",
                    "required": [
                      "enrollments"
                    ],
                    "properties": {
                      "enrollments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "enrollmentId": {
                              "type": "string",
                              "format": "uuid",
                            },
                            "source": {
                              "type": "string",
                            },
                            "clientId": {
                              "type": "string",
                              "format": "uuid",
                            },                                    "genericEnrollmentId":{
                                      "type": "string",
                                      "format": "uuid"
                                    }
                          }
                        }
                      }
                    }
                  }
                }
              }
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalEnrollments"
                    ],
                    "properties": {
                      "globalEnrollments": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "globalEnrollments"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "globalEnrollments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "dedupClientId",
                                "enrollments"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "dedupClientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "enrollments": {
                                  "type": "object",
                                  "required": [
                                    "enrollments"
                                  ],
                                  "properties": {
                                    "enrollments": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "format": "uuid",
                                          },
                                          "enrollmentId": {
                                            "type": "string",
                                            "format": "uuid",
                                          },
                                          "clientId": {
                                            "type": "string",
                                            "format": "uuid",
                                          },
                                          "source": {
                                            "type": "string",
                                          },
                                          "genericEnrollmentId":{
                                              "type": "string",
                                              "format": "uuid"
                                          },
                                          "link": {
                                            "type": "string",
                                            "format": "uuid",
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalEnrollments:
                    pagination:
                      from: 0
                      returned: 1
                      total: 1
                      maximum: 30
                      sort: {}
                    globalEnrollments:
                      - id: a2919645-c366-49b9-a101-3b803fa15d3d
                        dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                        enrollments:
                          enrollments:
                            - id: 0ffdf949-b799-43d3-82ca-506478274a74
                              enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                              clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                              source: '2016'
                              link: >-
                                hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                            - id: 183b0b94-9d14-44ad-ad98-9408b328230d
                              enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                              clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                              source: '2015'
                              link: >-
                                hmis-clientapi/v2015/rest/clients/d4a9b184-21ea-4136-b9b8-0d59e8ee7b71/enrollments/d12a5b43-9411-4fe3-8cd3-0778459d0085
                            - genericEnrollmentId: 9ac8cba4-d9a0-43c3-ae3f-3b2633a91626    
      description: Get all global enrollment
      operationId: GET_clients-clientDedupId-global-enrollments
    parameters:
      - name: clientdedupid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientdedupid}/globalenrollments/{globalenrollmentid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalEnrollment"
                    ],
                    "properties": {
                      "globalEnrollment": {
                        "type": "object",
                        "required": [
                          "id",
                          "dedupClientId",
                          "enrollments"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "dedupClientId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "enrollments": {
                            "type": "object",
                            "required": [
                              "enrollments"
                            ],
                            "properties": {
                              "enrollments": {
                                "type": "array",
                                "items": {
                                  "type": "object",

                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "enrollmentId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "clientId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "string",
                                    },                                    "genericEnrollmentId":{
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "link": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalEnrollment:
                    id: a2919645-c366-49b9-a101-3b803fa15d3d
                    dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                    enrollments:
                      enrollments:
                        - id: 0ffdf949-b799-43d3-82ca-506478274a74
                          enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                          clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                          source: '2016'
                          link: >-
                            hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                        - id: 183b0b94-9d14-44ad-ad98-9408b328230d
                          enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                          clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                          source: '2015'
                          link: >-
                            hmis-clientapi/v2015/rest/clients/d4a9b184-21ea-4136-b9b8-0d59e8ee7b71/enrollments/d12a5b43-9411-4fe3-8cd3-0778459d0085
                        - genericEnrollmentId: 9ac8cba4-d9a0-43c3-ae3f-3b2633a91626
      description: Get selected global enrollment
      operationId: GET_clients-clientDedupId-global-enrollments-globalenrollmentid
    delete:
      responses:
        default:
          description: ''
      description: Delete selected global enrollment
      operationId: DELETE_clients-clientDedupId-global-enrollments-globalenrollmentid
    parameters:
      - name: clientdedupid
        in: path
        required: true
        schema:
          type: string
      - name: globalenrollmentid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientdedupid}/globalenrollments/{globalenrollmentid}/enrollments':
    put:
      responses:
        '200':
          description: ''
      description: Add enrollment to selected global enrollment
      operationId: >-
        PUT_clients-clientDedupId-global-enrollments-globalenrollmentid-enrollments
      requestBody:
        content:
          application/json:
            example:
              enrollments:
                enrollments:
                  - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                    source: '2016'
                    clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                  - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                    source: '2015'
                    clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                  - genericEnrollmentId: 9ac8cba4-d9a0-43c3-ae3f-3b2633a91626                    
            schema:
              {
                "type": "object",
                "required": [
                  "enrollments"
                ],
                "properties": {
                  "enrollments": {
                    "type": "object",
                    "required": [
                      "enrollments"
                    ],
                    "properties": {
                      "enrollments": {
                        "type": "array",
                        "items": {
                          "type": "object",

                          "properties": {
                            "enrollmentId": {
                              "type": "string",
                              "format": "uuid",
                            },
                            "source": {
                              "type": "string",
                            },
                            "clientId": {
                              "type": "string",
                              "format": "uuid",
                            } ,                                   "genericEnrollmentId":{
                                      "type": "string",
                                      "format": "uuid"
                                    }
                          }
                        }
                      }
                    }
                  }
                }
              }
        required: true
    parameters:
      - name: clientdedupid
        in: path
        required: true
        schema:
          type: string
      - name: globalenrollmentid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientdedupid}/globalenrollments/{globalenrollmentid}/enrollments/{enrollmentid}':
    delete:
      responses:
        '200':
          description: ''
      description: Remove enrollment from selected global enrollment
      operationId: >-
        DELETE_clients-clientDedupId-global-enrollments-globalenrollmentid-enrollments-enrollmentId
    parameters:
      - name: clientdedupid
        in: path
        required: true
        schema:
          type: string
      - name: globalenrollmentid
        in: path
        required: true
        schema:
          type: string
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientdedupid}/global-enrollments':
    post:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "globalEnrollment"
                    ],
                    "properties": {
                      "globalEnrollment": {
                        "type": "object",
                        "required": [
                          "id",
                          "dedupClientId",
                          "enrollments"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "dedupClientId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "enrollments": {
                            "type": "object",
                            "required": [
                              "enrollments"
                            ],
                            "properties": {
                              "enrollments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "enrollmentId",
                                    "clientId",
                                    "source",
                                    "link"
                                  ],
                                  "properties": {
                                    "enrollmentId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "clientId": {
                                      "type": "string",
                                      "format": "uuid",
                                    },
                                    "source": {
                                      "type": "string",
                                    },
                                    "link": {
                                      "type": "string",
                                      "format": "uuid",
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  globalEnrollment:
                    id: bcd68553-08a0-4463-8713-3619f1022fc1
                    dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                    enrollments:
                      enrollments:
                        - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                          clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                          source: '2016'
                          link: >-
                            hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                        - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                          clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                          source: '2015'
                          link: >-
[...]
