openapi: 3.0.0
info:
  title: Global Human Services
  version: "1.4.4"
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://www.hslynk.com/hmis-globalapi/rest'
paths:
  '/search/{searchentity}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    searchResults:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 50
                        sort:
                          field: id
                          order: asc
                      items:
                      - clientId: 0f23d93e-23c3-435e-baec-ec267f13f66c
                        dedupClientId: ad9a9390-bcd7-11e9-a57b-02fe61f7863e
                        firstName: Ryan_1565597013222
                        middleName: ''
                        lastName: Peterson_1565597013222
                        nameSuffix: NS
                        nameDataQuality: 1
                        ssn: 123-45-6789
                        ssnDataQuality: 1
                        dob: 340009200000
                        dobDataQuality: 1
                        race: 1
                        ethnicity: 1
                        gender: 0
                        phoneNumber: 123456779
                        emailAddress: test@test.com
                        link: "/hmis-clientapi/rest/v2017/clients/0f23d93e-23c3-435e-baec-ec267f13f66c"
                        projectGroupCode: PG0001
                        links:
                          eligibleClients:
                            data:
                            - rel: 0f23d93e-23c3-435e-baec-ec267f13f66c
                              href: https://www.hslynk.com/house-matching-api/rest/eligibleclients/0f23d93e-23c3-435e-baec-ec267f13f66c
                          survey.submissions:
                            data:
                            - rel: 528faca1-ccb6-436a-bd97-8cd6e00c5105
                              href: https://www.hslynk.com/survey-api/rest/clients/0f23d93e-23c3-435e-baec-ec267f13f66c/surveys/5d3f239c-fdf5-4806-80ec-54886fb58e2b/submissions/528faca1-ccb6-436a-bd97-8cd6e00c5105
                          enrollments:
                            data:
                            - rel: d9845282-afd5-43e8-8935-1ae186a04dea
                              href: https://www.hslynk.com/hmis-clientapi-v2017/rest/clients/0f23d93e-23c3-435e-baec-ec267f13f66c/enrollments/d9845282-afd5-43e8-8935-1ae186a04dea

        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >
        The Search API is optimized to find the specific entity you're looking
        for (e.g., a client, enrollments, etc.).  It's designed to  find the one
        result you're looking for (or maybe the few results you're looking for).
        Currently hmislynk supporting search on 'clients' entity only. Just like
        searching on Google, you sometimes want to see a few pages of search
        results so that you can find the item that best meets your needs.
        HMISLynk Search API provides up to 50 results for each search.  However,
        the search results can be limited by the client. Current supporting URI is /search/clients and /search/projects.
            API returns the following in the response.  \
            * Latest (by effective date) FN, MI, LN, email, phone [email and phone will come from the generic client record], SSN, DOB, SSN, gender, veteran status.If any of these have not been collected, those elements will be simply omitted. \
            * Links to enrollments for all HMIS enrollment records if there is anything to retrieve. Otherwise this link is not present.\
            * Links to all client survey submissions,if there is anything to retrieve. Otherwise this link is not present\
            * Links to all eligible client records (active list) for the client ,if there is anything to retrieve. Otherwise this link is not present.
      operationId: GET_search-searchentity
      parameters:
        - name: q
          in: query
          required: true
          description: >
            The search keywords for clients, as well as any qualifiers.Currently
            supported search fields are first name,middle name,last
            name,dob,source system id and ssn. For search on "date of birth"
            field the format MM-dd-YYYY should be used for the search keyword.

            The seach keywords for projects, as well as any qualifiers. Currenly
            supported search fields are projectName, projectCommonName,
            projectId.
          schema:
            type: string
        - name: sort
          in: query
          required: true
          description: The sort field. Default- results are sorted by "created date".
          schema:
            type: string
        - name: order
          in: query
          required: true
          description: >-
            The sort order if sort parameter is provided. One of asc or desc.
            Default- desc.
          schema:
            default: desc
            type: string
        - name: startIndex
          in: query
          required: true
          description: >-
            The start Index from where the search results should be returned.
            Default - 0
          schema:
            default: 0
            type: integer
        - name: maxItems
          in: query
          required: true
          description: >-
            the number or Items that should be included in the results . Default
            - 50
          schema:
            default: 50
            type: integer
        - name: exclude
          in: query
          required: true
          description: >
            Excludes flieds from the search.Currently it suppoted value is "ssi"
            (to exclude source system id) only.
          schema:
            type: string
    parameters:
      - name: searchentity
        in: path
        required: true
        schema:
          type: string
  /global-projects:
    post:
      description: Create a global project
      operationId: POST_global-projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                globalProject:
                  type: object
                  properties:
                    id:
                      type: string
                    projectName:
                      type: string
                    projectCommonName:
                      type: string
                    description:
                      type: string
                    sourceSystemId:
                      type: string
                  required:
                    - id
                    - projectName
                    - projectCommonName
                    - description
                    - sourceSystemId
              required:
                - globalProject
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  globalProject:
                    id: 661189b2-183f-4d03-aba0-7d3050b62a5f
                    projectName: Project Name
                    projectCommonName: Project common name
                    description: description
                    sourceSystemId: source123
                    projects:
                      projects:
                        - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                          source: 2015
                        - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                          source: 2014
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  globalProjects:
                    pagination:
                      from: 0
                      returned: 2
                      total: 2
                      maximum: 30
                      sort: {}
                    globalProjects:
                      - id: 38d97c40-ef8f-465a-9ede-d8933385c0ed
                        projectName: name
                        projectCommonName: common name
                        description: description
                        sourceSystemId: source123
                        projects:
                          projects:
                            - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                              source: '2015'
                              link: >-
                                /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                            - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                            - projectId: 9d278142-978d-461e-8aea-07d629e462e8
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9d278142-978d-461e-8aea-07d629e462e8
                      - id: d0242f55-c019-41c2-8f0c-6dadbb38c875
                        projectName: Project Name
                        projectCommonName: Project common name
                        description: ' description'
                        sourceSystemId: source124
                        projects:
                          projects:
                            - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                              source: '2015'
                              link: >-
                                /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                            - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                              source: '2014'
                              link: >-
                                /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
      description: Get all global projects
      operationId: GET_global-projects
  '/global-projects/{global-projectId}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
                example:
                  globalProject:
                    projectId: 3d65a9bc-af57-4e3e-bc4d-29d661767ac9
                    projectName: Sample Project Name
                    projectCommonName: Sample Project Common Name
                    description: Sample Project description
      description: Update selected global project
      operationId: PUT_global-projects-global-projectId
      requestBody:
        content:
          application/json:
            example:
              globalProject:
                projectName: Sample Project Name
                projectCommonName: Sample Project Common Name
                description: Sample Project description
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  globalProject:
                    id: d0242f55-c019-41c2-8f0c-6dadbb38c875
                    projectName: Project Name
                    projectCommonName: Project common name
                    description: ' description'
                    projects:
                      projects:
                        - projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                          source: '2015'
                          link: >-
                            /hmis-clientapi/v2015/rest/projects/f9748a7b-80ac-4ffd-86f7-c8e71416502f
                        - projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                          source: '2014'
                          link: >-
                            /hmis-clientapi/v2014/rest/projects/9a147cc3-7b78-4a82-abe4-f42f9ee59b61
      description: Get selected global project
      operationId: GET_global-projects-global-projectId
    parameters:
      - name: global-projectId
        in: path
        required: true
        schema:
          type: string
  '/global-projects/{global-projectId}/projects':
    put:
      responses:
        '200':
          description: ''
      description: Add projects to selected global project
      operationId: PUT_global-projects-global-projectId-projects
      requestBody:
        content:
          application/json:
            schema:
              example:
                projects:
                  projects:
                  -  projectId: f9748a7b-80ac-4ffd-86f7-c8e71416502f
                     source: 2015
                  -  projectId: 9a147cc3-7b78-4a82-abe4-f42f9ee59b61
                     source: '2014'
        required: true
    parameters:
      - name: global-projectId
        in: path
        required: true
        schema:
          type: string
  '/global-projects/{global-projectId}/projects/{projectId}':
    delete:
      responses:
        '200':
          description: ''
      description: Remove project from selected global project
      operationId: DELETE_global-projects-global-projectId-projects-projectId
    parameters:
      - name: global-projectId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
  '/global-projects/${globalProjectId}/users':
    put:
      responses:
        default:
          description: ''
      description: Add users to a global project
      operationId: PUT_global-projects-$globalProjectId-users
      requestBody:
        content:
          application/json:
            example:
              users:
                users:
                  - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                  - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                  - userId: 183548a8-4f0e-4b3d-a114-c1e3043cf49d
            schema:
              type: string
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  users:
                    users:
                      - userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                        username: developeradmin@hmis.com
                        emailAddress: hmisprojects@gmail.com
                        firstName: Developer Admin
                        middleName: Developer Admin
                        lastName: Developer Admin
                        gender: 0
                        status: ACTIVE
                        link: >-
                          /hmis-user-service/rest/accounts/8b6c6ef2-87c7-47f0-8874-4cca6f09367c
                      - userId: 183548a8-4f0e-4b3d-a114-c1e3043cf49d
                        username: tes11tq@te42223s.com
                        emailAddress: test@test.com
                        firstName: First NameTest
                        middleName: Middle name
                        lastName: Last Name
                        gender: 0
                        status: ACTIVE
                        link: >-
                          /hmis-user-service/rest/accounts/183548a8-4f0e-4b3d-a114-c1e3043cf49d
      description: Retrive a global project users
      operationId: GET_global-projects-$globalProjectId-users
    parameters:
      - name: globalProjectId
        in: path
        required: true
        schema:
          type: string
  '/global-projects/${globalProjectId}/users/{userId}':
    delete:
      responses:
        default:
          description: ''
      description: Remove users from a global project
      operationId: DELETE_global-projects-$globalProjectId-users-userId
    parameters:
      - name: globalProjectId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientDedupId}/global-enrollments':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  globalEnrollment:
                    id: bcd68553-08a0-4463-8713-3619f1022fc1
                    dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                    enrollments:
                      enrollments:
                        - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                          clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                          source: '2016'
                          link: >-
                            hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                        - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                          clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                          source: '2015'
                          link: >-
                            hmis-clientapi/v2015/rest/clients/d4a9b184-21ea-4136-b9b8-0d59e8ee7b71/enrollments/d12a5b43-9411-4fe3-8cd3-0778459d0085
      description: Create a global enrollment for a client
      operationId: POST_clients-clientDedupId-global-enrollments
      requestBody:
        content:
          application/json:
            example:
              globalEnrollment:
                enrollments:
                  enrollments:
                    - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                      source: '2016'
                      clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                    - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                      source: '2015'
                      clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
            schema:
              type: string
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  globalEnrollments:
                    pagination:
                      from: 0
                      returned: 1
                      total: 1
                      maximum: 30
                      sort: {}
                    globalEnrollments:
                      - id: a2919645-c366-49b9-a101-3b803fa15d3d
                        dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                        enrollments:
                          enrollments:
                            - id: 0ffdf949-b799-43d3-82ca-506478274a74
                              enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                              clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                              source: '2016'
                              link: >-
                                hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                            - id: 183b0b94-9d14-44ad-ad98-9408b328230d
                              enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                              clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                              source: '2015'
                              link: >-
                                hmis-clientapi/v2015/rest/clients/d4a9b184-21ea-4136-b9b8-0d59e8ee7b71/enrollments/d12a5b43-9411-4fe3-8cd3-0778459d0085
      description: Get all global enrollment
      operationId: GET_clients-clientDedupId-global-enrollments
    parameters:
      - name: clientDedupId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientDedupId}/global-enrollments/{global-enrollmentId}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  globalEnrollment:
                    id: a2919645-c366-49b9-a101-3b803fa15d3d
                    dedupClientId: b3f60ea0-79a9-11e6-ab44-02f305dabccf
                    enrollments:
                      enrollments:
                        - id: 0ffdf949-b799-43d3-82ca-506478274a74
                          enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                          clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                          source: '2016'
                          link: >-
                            hmis-clientapi/v2016/rest/clients/6bf95840-8567-469b-9efe-8c6351294e55/enrollments/637fbfbb-e75c-49f1-900f-1aa0015aefab
                        - id: 183b0b94-9d14-44ad-ad98-9408b328230d
                          enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                          clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
                          source: '2015'
                          link: >-
                            hmis-clientapi/v2015/rest/clients/d4a9b184-21ea-4136-b9b8-0d59e8ee7b71/enrollments/d12a5b43-9411-4fe3-8cd3-0778459d0085
      description: Get selected global enrollment
      operationId: GET_clients-clientDedupId-global-enrollments-global-enrollmentId
    delete:
      responses:
        default:
          description: ''
      description: Delete selected global enrollment
      operationId: DELETE_clients-clientDedupId-global-enrollments-global-enrollmentId
    parameters:
      - name: clientDedupId
        in: path
        required: true
        schema:
          type: string
      - name: global-enrollmentId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientDedupId}/global-enrollments/{global-enrollmentId}/enrollments':
    put:
      responses:
        '200':
          description: ''
      description: Add enrollment to selected global enrollment
      operationId: >-
        PUT_clients-clientDedupId-global-enrollments-global-enrollmentId-enrollments
      requestBody:
        content:
          application/json:
            example:
              enrollments:
                enrollments:
                  - enrollmentId: 637fbfbb-e75c-49f1-900f-1aa0015aefab
                    source: '2016'
                    clientId: 6bf95840-8567-469b-9efe-8c6351294e55
                  - enrollmentId: d12a5b43-9411-4fe3-8cd3-0778459d0085
                    source: '2015'
                    clientId: d4a9b184-21ea-4136-b9b8-0d59e8ee7b71
            schema:
              type: string
        required: true
    parameters:
      - name: clientDedupId
        in: path
        required: true
        schema:
          type: string
      - name: global-enrollmentId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientDedupId}/global-enrollments/{global-enrollmentId}/enrollments/{enrollmentId}':
    delete:
      responses:
        '200':
          description: ''
      description: Remove enrollment from selected global enrollment
      operationId: >-
        DELETE_clients-clientDedupId-global-enrollments-global-enrollmentId-enrollments-enrollmentId
    parameters:
      - name: clientDedupId
        in: path
        required: true
        schema:
          type: string
      - name: global-enrollmentId
        in: path
        required: true
        schema:
          type: string
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
  /events:
    post:
      responses:
        '200':
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errors:
                    error:
                      - message: event type is required
      description: >-
                API to create a Event. An event can be handled either via messaging system (pub/sub model) or by other handlers depending on the event type. Currently supported event type is client.merge, client.unmerge
      operationId: POST_events
      requestBody:
        content:
          application/json:
              schema:
               example:
                    event:
                      payload:
                        projectGroupCode: PG0001
                        currentDedupId: 46b89200-656a-11e8-985f-02fe61f7863e
                        targetDedupId: eac0fc00-f727-11e6-bdda-06c37be0e663
                      eventType: client.merge
        required: true
  /clients/{clientId}/dedup/merge:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  client:
                    - clientId: b42e7c50-c72a-11e9-a57b-02fe61f7863e
                      dedupClientId: 64834220-6727-11e9-9f34-02fe61f7863e
                      oldDedupClientId: 1ba28d40-1dfd-11e9-985f-02fe61f7863e
                      firstName: Przemyslaw1
                      lastName: Gorecki
                      ssn: 123-45-6789
                      dob: 1459517834983
        '400':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errors:
                    error:
                      - message: Client Id is requried.
      description: >-
                Client merge is a 2 step process and this API covers step# 1.
                1) API to determine a correct dedupClientId for a client.
                2) Use /events API to merge a client by providing the dedupClientId generated from the response.
      operationId: POST_clients-clientId-dedup-merge
      requestBody:
        content:
          application/json:
            schema:
              example:
                  client:
                    clientId : b42e7c50-c72a-11e9-a57b-02fe61f7863e
                    firstName: Przemyslaw1
                    lastName: Gorecki
                    ssn: 123-45-6789
                    dob: 1459517834983
        required: true
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string        
  /clients/{clientId}/dedup/unmerge:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  client:
                    - clientId: b42e7c50-c72a-11e9-a57b-02fe61f7863e
                      dedupClientId: 1ba28d40-1dfd-11e9-985f-02fe61f7863e
                      oldDedupClientId: 64834220-6727-11e9-9f34-02fe61f7863e
                      firstName: Przemyslaw1
                      lastName: Gorecki
                      ssn: 123-45-6789
                      dob: 1459517834983
        '400':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errors:
                    error:
                      - message: Client Id is requried.
      description: >-
                          Client unmerge is a 2 step process and this API covers step# 1.
                          1) API to determine a correct dedupClientId for a client.
                          2) Use /events API to unmerge a client by providing the dedupClientId generated from the response.
      operationId: POST_clients-clientId-dedup-unmerge
      requestBody:
        content:
          application/json:
            schema:
              example:
                  client:
                    clientId : b42e7c50-c72a-11e9-a57b-02fe61f7863e
                    firstName: Przemyslaw1
                    lastName: Gorecki
                    ssn: 123-45-6789
                    dob: 1459517834983
        required: true
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string                
  /notifications:
    post:
      responses:
        '200':
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errors:
                    error:
                      - message: Email body is required
      description: >-
        API to create a notification request. Any one of the recipients is
        mandatory (TO, CC or BCC). Multiple email addresses should be comma
        delimeted. "Body" and "Subject" are mandatory fields. Notification can
        be sent with "HIGH" priority by setting the "priority" value to 1. None
        of the elements with in "additionalInfo" section are mandatory.
      operationId: POST_notifications
      requestBody:
        content:
          application/json:
            schema:
              example:
                notification:
                  method: EMAIL
                  data:
                    recipients:
                      toRecipients:
                        - surya.yadavalli@gmail.com
                        - surya.yadavalli@hmislynk.com
                      bccRecipients:
                        - jceleldon@ctagroup.com
                      ccRecipients:
                        - admin@ctagroup.com
                    body: Test message
                    subject: Test subject
                    priority: 1
                  additionalInfo:
                    messageType: Cancellation Notice
                    recipientType: clientID
                    recipientId: 18a93ad8-cced-49c5-9185-9cb3da9de89b
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  notifications:
                    pagination:
                      from: 0
                      total: 13
                      maximum: 2
                      sort: {}
                    notifications:
                      - data:
                          subject: Test subject
                          status: CREATED
                          recipients:
                            toRecipients:
                              - surya.yadavalli@gmail.com
                            bccRecipients:
                              - surya.yadavalli@gmail.com
                            ccRecipients:
                              - surya.yadavalli@gmail.com
                          body: Test message
                          parameters:
                            parameter: []
                        method: EMAIL
                        additionalInfo:
                          recipientType: Client
                          recipientId: 6997cbb0-4485-4ac8-9a40-f8099726c9e3
                          messageType: message type
                        createdTimeStamp: '01-21-2018 09:54'
                        lastStatusTimeStamp: '01-21-2018 09:54'
                      - data:
                          subject: Test subject
                          status: FAILED
                          statusMessage: Invalid recipient email address
                          recipients:
                            toRecipients:
                              - surya.yadavalli@gmail.com
                            bccRecipients:
                              - surya.yadavalli@gmail.com
                              - support@hslynk.com
                            ccRecipients:
                              - surya.yadavalli@gmail.com
                          body: Test message
                          parameters:
                            parameter: []
                        method: EMAIL
                        additionalInfo:
                          recipientType: ClientId
                          recipientId: 6997cbb0-4485-4ac8-9a40-f8099726c9e3
                          messageType: Cancellation Notice
                        createdTimeStamp: '01-21-2018 21:02'
                        lastStatusTimeStamp: '01-21-2018 21:02'
      description: >2-
         GET the notification details along with their current status and timestamps. These details can be filtered using the following query parameters. Few examples below

        * hmis-globalapi/rest/notifications?fromdate=1516546276760 - Returns all
        the notifications sent from Sun Jan 21 2018 14:51:16


        *
        hmis-globalapi/rest/notifications?fromdate=1516521600000&todate=1516693923129
        - Returns all notifications sent between Sun Jan 21 2018 08:00:00 and
        Tue Jan 23 2018 07:52:03


        * hmis-globalapi/rest/notifications?status=CREATED,DELIVERED - Returns
        all notifications that are with status CREATED and DELIVERED


        *
        hmis-globalapi/rest/notifications?recipienttype=clientid&recipientid=cf98b9b2-9a77-4133-99a3-b60f05a12ad1
        - Returns all notifications associated with the client Id
        cf98b9b2-9a77-4133-99a3-b60f05a12ad1


        *
        hmis-globalapi/rest/notifications?status=DELIVERED&recipienttype=clientid&recipientid=cf98b9b2-9a77-4133-99a3-b60f05a12ad1
        - Returns all notifications delivered to client Id
        cf98b9b2-9a77-4133-99a3-b60f05a12ad1


        *
        hmis-globalapi/rest/notifications?fromdate=1516546276760&recipienttype=clientid&recipientid=cf98b9b2-9a77-4133-99a3-b60f05a12ad1
        - Returns all notifications associated with the client Id from Sun Jan
        21 2018 14:51:16
      operationId: GET_notifications
      parameters:
        - name: fromdate
          in: query
          description: >
            "From date" in millisecods - This will fetch all the notifications
            starting from this date/time.
          schema:
            type: number
        - name: todate
          in: query
          description: >
            "To date" in millisecods  - This will fetch all the notifications
            until this date / time.
          schema:
            type: number
        - name: recipienttype
          in: query
          description: >-
            Recipient Type - Currently supported recipient Type is only
            "ClientID"
          schema:
            type: string
        - name: recipientid
          in: query
          description: >
            Recipient Id -  The client identifier (UUID) example:
            "cf98b9b2-9a77-4133-99a3-b60f05a12ad1"
          schema:
            type: string
        - name: status
          in: query
          description: >-
            status - Possible statuses that a notification can have CREATED ,
            DELIVERED , FAILED
          schema:
            type: string
        - name: startIndex
          in: query
          description: >-
            The start Index from where the search results should be returned.
            Default - 0
          schema:
            type: number
        - name: maxItems
          in: query
          description: >-
            the number or Items that should be included in the results . Default
            - 200
          schema:
            type: number
  '/clients/{dedupClientId}' :
    get:
      operationId: GET_clients-by-dedupClientId
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                   clients:
                      pagination:
                        from: 0
                        total: 2
                        maximum: 30
                        returned: 2
                        sort: {}
                      clients:
                      - clientId: 79181dff-2acb-45a9-b78f-380b13082af6
                        dedupClientId: 1ba28d40-1dfd-11e9-985f-02fe61f7863e
                        firstName: Przemyslaw1
                        middleName: Piotr
                        lastName: Gorecki
                        nameSuffix: undefined
                        nameDataQuality: 1
                        ssn: 111-11-1234
                        ssnDataQuality: 1
                        dob: 315513000000
                        dobDataQuality: 1
                        race: 5
                        ethnicity: 0
                        gender: 1
                        veteranStatus: 1
                        sourceSystemId: FzFxvqMDjE8w2nAMP
                        link: "/hmis-clientapi/rest/v2015/clients/79181dff-2acb-45a9-b78f-380b13082af6"
                        projectGroupCode: PG0001
                        phoneNumber: "+919440060881"
                      - clientId: 8524af9d-e561-4417-b656-fc5a5c5bcf32
                        dedupClientId: 1ba28d40-1dfd-11e9-985f-02fe61f7863e
                        firstName: First Name
                        middleName: Middle Name
                        lastName: LAST NAME
                        nameSuffix: NS
                        nameDataQuality: 1
                        ssn: 123-45-6789
                        ssnDataQuality: 1
                        dob: 1459498034983
                        dobDataQuality: 1
                        race: 1
                        ethnicity: 1
                        gender: 1
                        otherGender: Test
                        veteranStatus: 8
                        sourceSystemId: FzFxvqMDjE8w2nAMP
                        link: "/hmis-clientapi/rest/v2015/clients/8524af9d-e561-4417-b656-fc5a5c5bcf32"
                        projectGroupCode: PG0001
        '404':
         description: DedupClientId not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: DedupClientId not found 2ba28d40-1dfd-11e9-985f-02fe61f7863e
    parameters:
      - name: dedupClientId
        in: path
        required: true
        schema:
          type: string

  '/clients/{clientId}/consents':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  consent:
                    clientId: dcdf2326-0d96-43eb-8368-501b29145c53
                    startTime: 1519914315641
                    endTime: 1543602600000
                    globalProjects:
                      - id: 4b84cb25-d27e-458e-ad5d-d817f30390d2
                        projects:
                          projects: []
                    consentId: db51219d-f439-4250-bdf2-7a1a07816832
      description: Create client consents
      operationId: POST_clients-clientId-consents
      requestBody:
        content:
          application/json:
            example:
              consent:
                clientId: dcdf2326-0d96-43eb-8368-501b29145c53
                startTime: 1519914315641
                endTime: 1543602600000
                globalProjects:
                  - id: 4b84cb25-d27e-458e-ad5d-d817f30390d2
            schema:
              type: string
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  consents:
                    pagination:
                      from: 0
                      returned: 1
                      total: 1
                      maximum: 30
                      sort: {}
                    consents:
                      - clientId: dcdf2326-0d96-43eb-8368-501b29145c53
                        status: APPROVED
                        startTime: 1519914315641
                        endTime: 1543602600000
                        globalProjects:
                          - id: 4b84cb25-d27e-458e-ad5d-d817f30390d2
                            projectName: Project Name
                            projectCommonName: Project common name
                            description: ' description'
                            projects:
                              projects: []
                          - id: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
                            projectName: Project Name
                            projectCommonName: Project common name
                            description: ' description'
                            projects:
                              projects: []
                        consentId: db51219d-f439-4250-bdf2-7a1a07816832
      description: Get consents of selected client
      operationId: GET_clients-clientId-consents
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientId}/consents/{consentId}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: ''
      description: Update a client's consent
      operationId: PUT_clients-clientId-consents-consentId
      requestBody:
        content:
          application/json:
            example: |
              {
               "consent":{
                  "startTime":1519914315641,
                  "endTime":1543602600000
               }
            schema:
              type: string
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  consent:
                    clientId: dcdf2326-0d96-43eb-8368-501b29145c53
                    startTime: 1519914315641
                    endTime: 1543602600000
                    globalProjects:
                      - id: 4b84cb25-d27e-458e-ad5d-d817f30390d2
                        projects:
                          projects: []
                    consentId: db51219d-f439-4250-bdf2-7a1a07816832
      description: Retrive a client's consent
      operationId: GET_clients-clientId-consents-consentId
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: ''
      description: Delete a client's consent
      operationId: DELETE_clients-clientId-consents-consentId
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: consentId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientId}/consents/{consentId}/projects':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: ''
      description: Add global projects to a client
      operationId: PUT_clients-clientId-consents-consentId-projects
      requestBody:
        content:
          application/json:
            example:
              globalProjects:
                globalProjects:
                  - id: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
            schema:
              type: string
        required: true
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: consentId
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientId}/consents/{consentId}/projects/{globalProjectId}':
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: ''
      description: Remove global project from a client consent
      operationId: DELETE_clients-clientId-consents-consentId-projects-globalProjectId
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: consentId
        in: path
        required: true
        schema:
          type: string
      - name: globalProjectId
        in: path
        required: true
        schema:
          type: string
  '/generic-enrollments' :
    post:
      description: Create a Generic Enrllment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                genericEnrollment:
                  globalEnrollmentId: 11d0839d-07ca-43e2-add0-5c848a306085
                  globalProjectId: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
                  active: true
                  startTime: 08-09-2018 10:11
                  endTime: 08-09-2019 10:11
                  globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  genericEnrollment:
                    id: 39f899ae-e21c-4c81-ab2f-d166ae0d79e7
                    globalEnrollmentId: 11d0839d-07ca-43e2-add0-5c848a306085
                    globalProjectId: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
                    active: true
                    globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
                    startTime: 08-09-2018 10:11
                    endTime: 08-09-2019 10:11
        '404':
         description: Global Project not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Global Project not found
    get:
      description: Read all generic enrollment of a project group
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  globalEnrollments:
                    pagination:
                      from: 0
                      returned: 3
                      total: 3
                      maximum: 30
                      sort: {}
                    globalEnrollments:
                    - id: b2ae7fd1-9782-46cf-89fd-9a730f3c0189
                      globalEnrollmentId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
                      globalProjectId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
                      active: true
                      globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
                      startTime: 08-09-2018 10:11
                      endTime: 08-09-2019 10:11
                    - id: 3586814f-9601-498a-98de-1adabf610936
                      globalEnrollmentId: 158d2457-5fd7-49b4-82ff-2549cf0ea397
                      globalProjectId: 158d2457-5fd7-49b4-82ff-2549cf0ea396
                      active: true
                      globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea398
                      startTime: 08-09-2017 10:11
                      endTime: 08-09-2020 10:11
                    - id: 39f899ae-e21c-4c81-ab2f-d166ae0d79e7
                      globalEnrollmentId: 11d0839d-07ca-43e2-add0-5c848a306085
                      globalProjectId: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
                      active: true
                      globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
                      startTime: 08-09-2018 10:11
                      endTime: 08-09-2020 10:11
  '/generic-enrollments/{generic-enrollmentId}':
    parameters:
      - name: generic-enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "UUID"
    put:
      description: Update existing genric enrollment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                genericEnrollment:
                  globalEnrollmentId: 11d0839d-07ca-43e2-add0-5c848a306085
                  globalProjectId: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
                  active: true
                  startTime: 08-09-2018 10:11
                  endTime: 08-09-2019 10:11
                  globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
      responses:
        '200':
          description: Success
        '404':
         description: Generic Enrollment not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Generic enrollment not found
    delete:
      description: Delete existing generic enrollment
      responses:
        '200':
         description: Success
        '404':
         description: Generic Enrollment not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Generic enrollment not found
    get:
     description: Read existing generic enrollment
     responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  genericEnrollment:
                    id: 39f899ae-e21c-4c81-ab2f-d166ae0d79e7
                    globalEnrollmentId: 11d0839d-07ca-43e2-add0-5c848a306085
                    globalProjectId: 6c0f6f77-ba6c-4365-9ce5-3fe65ccdbe86
                    active: true
                    globalHouseholdId: 158d2457-5fd7-49b4-82ff-2549cf0ea395
                    startTime: 08-09-2018 10:11
                    endTime: 08-09-2019 10:11
        '404':
         description: Generic Enrollment not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Generic Enrollment not found
  '/global-Households' :
    post:
      description: Create a Global house hold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                globalHousehold:
                  globalHouseholdMappings:
                    globalHouseholdMappings:
                      - genericHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9cc
                        hmisHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9cc

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  globalHousehold:
                    id: f150e147-eb46-439d-8bea-1e0453c9af31
        '404':
         description: Global Household not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Global Household not found
    get:
      description: Read all global Households of a project group
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  globalHouseholds:
                    pagination:
                      from: 0
                      returned: 2
                      total: 2
                      maximum: 30
                      sort: {}
                    globalHouseholds:
                      - id: f150e147-eb46-439d-8bea-1e0453c9af31
                        dateUpdated: '2018-09-14'
                        dateCreated: '2018-09-14 09:09'
                        globalHouseholdMappings:
                          globalHouseholdMappings:
                            - id: 1d833013-1f36-4b50-97c1-245e1d7bc25b
                              genericHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9de
                              dateUpdated: '2018-09-14'
                              dateCreated: '2018-09-14 09:09'
                      - id: f150e147-eb46-439d-8bea-1e0453c9af31
                        dateUpdated: '2018-09-14'
                        dateCreated: '2018-09-14 09:09'
                        globalHouseholdMappings:
                          globalHouseholdMappings:
                            - id: 1d833013-1f36-4b50-97c1-245e1d7bc25b
                              hmisHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9ef
                              dateUpdated: '2018-09-14'
                              dateCreated: '2018-09-14 09:09'
  '/global-Households/{global-Household-id}' :
    parameters:
    - name: global-Household-id
      in: path
      required: true
      schema:
        type: string
        format: "UUID"
    put:
      description: Update a Global house hold ( while updating existing mapping will remove and add new mappings )
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                globalHousehold:
                  globalHouseholdMappings:
                    globalHouseholdMappings:
                      - genericHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9cc
                        hmisHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9cc

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
        '404':
         description: Global Household not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Global Household not found
    get:
      description: Read selected global Household
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                  globalHousehold:
                    id: f150e147-eb46-439d-8bea-1e0453c9af31
                    dateUpdated: '2018-09-14'
                    dateCreated: 2018-09-14 09:09
                    globalHouseholdMappings:
                      globalHouseholdMappings:
                      - id: 1d833013-1f36-4b50-97c1-245e1d7bc25b
                        genericHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9de
                        hmisHouseholdId: 890ab7f2-f812-4268-b8e5-924766d2d9ef
                        dateUpdated: '2018-09-14'
                        dateCreated: 2018-09-14 09:09
        '404':
         description: Global Household not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Global Household not found
    delete:
      description: Delete an existing global house hold and mappings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
        '404':
         description: Global Household not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Global Household not found
  '/projectsubgroups' :
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example :
                      projectSubGroup:
                          projectSubGroupId: 2b5b3c9b-c649-483f-b5ff-bb1e7cfdb357
      description: |
        To create a new project sub group.
      operationId: POST_projectsubgroups
      requestBody:
        content:
          application/json:
            schema:
              example:
                  projectSubGroup:
                    projectSubGroupName: Test Project SubGroup
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                    projectSubGroups:
                      pagination:
                        from: 0
                        maximum: 30
                        sort: {}
                      projectSubGroups:
                      - projectSubGroupId: db66b3cd-f470-4978-b66b-4b953a29af2d
                        projectSubGroupName: Updated Test Project SubGroup_1574489246253
                        projects:
                        - projectId: 5f9f2b94-df00-48cc-9bea-cf15941f8be3
                          projectName: ProjectName_1574489245292
                          projectCommonName: ProjectCommonName_1574489245292
                          schemaYear: '2014'

      description: Get all projects sub groups
      operationId: GET_projectsubgroups
  '/projectsubgroups/{projectSubGroupId}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  projectSubGroup:
                    projectSubGroupId: db66b3cd-f470-4978-b66b-4b953a29af2d
                    projectSubGroupName: Updated Test Project SubGroup_1574489246253
                    projects:
                    - projectId: 5f9f2b94-df00-48cc-9bea-cf15941f8be3
                      projectName: ProjectName_1574489245292
                      projectCommonName: ProjectCommonName_1574489245292
                      schemaYear: '2014'
      description: Get selected project sub group
      operationId: GET_project_subgroup_id
    parameters:
      - name: projectSubGroupId
        in: path
        required: true
        schema:
          type: string
  '/projectsubgroups/{projectSubGroupId}/projects/{projectId}':
    put:
      responses:
        '200':
          description: ''
      description: Add projects to selected global project
      operationId: PUT_project_to_sub_group
    delete:
      responses:
        '200':
          description: ''
      description: Remove project from selected global project
      operationId: DELETE_project_from_sub_group
    parameters:
      - name: projectSubGroupId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string                      
  '/projectSharingRules' :
    post:
      description: |
      requestBody:
         required: true
         content:
          application/json:
           schema:
             example: 
                      projectSharingRule:
                        project:
                          projectId: efa47063-bd03-4c5d-ad3f-d99ed57fa055
                        toProject:
                          projectId: ec9fda9b-b962-42f6-b76c-9746b35e567a
      responses:
       '204':
         description: An empty response will send
       '404':
        description: Project not found
        content:
         application/json:
            schema:
               example:
                  errors:
                    error:
                    - code: REQUEST_RESOURCE_NOTFOUND
                      message: project not found
       '403':
        description: Unauthorized – The request requires user authentication.
        content:
         application/json:
            schema:
               example:
                  errors:
                    error:
                    - code: ACCESS_DENIED
                      message: Unauthorized to perform this action.
    get:
      description: Retrieve all the sharing rules.
      responses:
       '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                      projectSharingRules:
                          pagination:
                            from: 0
                            returned: 2
                            total: 54
                            maximum: 30
                            sort: {}
                          projectSharingRules:
                              projectSharingRuleId:  efa47063-bd03-4c5d-ad3f-d99ed57fa055
                              project:
                                 projectId: efa47063-bd03-4c5d-ad3f-d99ed57fa055
                              toProject:
                                 projectId: ec9fda9b-b962-42f6-b76c-9746b35e567a                
       '403':
        description: Unauthorized – The request requires user authentication.
        content:
         application/json:
            schema:
               example:
                  errors:
                    error:
                    - code: ACCESS_DENIED
                      message: Unauthorized to perform this action.
  '/projectSharingRules/{projectSharingRuleId}' :
    parameters:
    - name: projectSharingRuleId
      in: path
      required: true
      schema:
        type: string
        format: "UUID"

    get:
      description: Retrieve a specific sharing rule.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
                     projectSharingRule:
                            projectSharingRuleId:  efa47063-bd03-4c5d-ad3f-d99ed57fa055
                            project:
                               projectId: efa47063-bd03-4c5d-ad3f-d99ed57fa055
                            toProject:
                               projectId: ec9fda9b-b962-42f6-b76c-9746b35e567a          
        '404':
         description: Resource not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Sharing rule not found
        '403':
         description: Unauthorized – The request requires user authentication.
         content:
          application/json:
            schema:
              example:
                  errors:
                    error:
                    - code: ACCESS_DENIED
                      message: Unauthorized to perform this action.
    delete:
      description: Delete a specific sharing rule
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                example:
        '404':
         description: Sharing rule not found
         content:
          application/json:
           schema:
            example:
              errors:
                error:
                - code: REQUEST_RESOURCE_NOTFOUND
                  message: Sharing rule not found
        '403':
         description: Unauthorized – The request requires user authentication.
         content:
          application/json:
            schema:
              example:
                  errors:
                    error:
                    - code: ACCESS_DENIED
                      message: Unauthorized to perform this action.          
components:
  schemas: {}
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    oauth_2_0:
      description: |
        The HMIS API supports OAuth 2.0 for authenticating all API requests.
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://hslynk.com/hmis-authorization-service/rest/token'
          scopes:
            user: ''
            administrator: ''
  links: {}
  callbacks: {}
